*{
    box-sizing: border-box;
}
textarea {
    resize: none;
  }
/* .div-main{
    border: 1px solid black;
    width: 650px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.box-parent{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.to-do-list-box_elem{
    border: 1px solid black;
    width: 500px;
    height: 500px;
}
.to-do-list-box_btn{
    border: 1px solid black;
    width: 400px;
    height: 100px;
}
.square{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color{
    color: red;
}
.input-pass-check{
    display: flex;
    flex-direction: column;
}
.input-pass{
    border: 3px solid black;
}
.pass-ul{
    width: 170px;
    color: red;
} */
.support-form{
    margin: 100px auto;
    width: 500px;
    height: 600px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    display: flex;
    justify-content: center;

}
.form-box{
    width: 400px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-send{
    display: flex;
    flex-direction: column;
}
.help-text{
    color: rgb(250, 83, 83);
    font-size: 35px;
}
.name-input{
    border: 1px solid rgba(154, 154, 154, 0.411);
    border-radius: 10px;
    height: 40px;
}
.textarea-input{
    border: 1px solid rgba(154, 154, 154, 0.411);
    border-radius: 10px;
    height: 65px;
    margin-top: 15px;
}
.text-answer{
    color: rgb(131, 130, 130);
    margin-top: 30px;
}
.phnum-input{
    border: 1px solid rgba(154, 154, 154, 0.411);
    border-radius: 10px;
    height: 40px;
}
.email-input{
    border: 1px solid rgba(154, 154, 154, 0.411);
    border-radius: 10px;
    height: 40px;
    margin-top: 15px;
}
.smb-btn{
    height: 45px;
    width: 380px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: rgb(54, 161, 255);
    margin-top: 15px;
}
.smb-btn__text{
    color: white;
    font-size: 15px;
    margin: auto;
}
.checking-message{
    color: red;
    font-size: 15px;
    height: 5px;
}
.correct-name{
    color: rgb(235, 235, 235);
    font-size: 15px;
    height: 5px;
}
.correct-message{
    color: rgb(235, 235, 235);
    font-size: 15px;
    height: 5px;
}
.correct-phnumber{
    color: rgb(235, 235, 235);
    font-size: 15px;
    height: 5px;
}
.correct-email{
    color: rgb(235, 235, 235);
    font-size: 15px;
    height: 5px;
}
textarea::placeholder {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
}
input[type=email] {
    padding-left: 10px;
    font-size: 15px;
}
input[type=text] {
    padding-left: 10px;
    font-size: 15px;
}
.task-div{
    position: fixed;
    border: 1px solid red;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 4;
    background-color: white;
}
.task-btn{
    border: none;
    position: relative;
    left: 80%;
    bottom: 80%;
    width: 20px;
}
.display{
    display: none;
}
.modal-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 90, 90, 0.446);
}
.open-modal:hover{
    border: none;
}
/*/--------------------------------------------------------------------/*/
.task2l14{
    margin: 0 auto;
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slides-box{
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    left: 425px;
}